#venv
.venv/

#Environment variables
GreenGrocer/.env

#pycacha in main folder
GreenGrocer/GreenGrocer/__pycache__/

#pycacha in api
GreenGrocer/api/__pycache__/

#pycacha in auth
GreenGrocer/api/auth/__pycache__/

#pycacha in migrations
GreenGrocer/api/migrations/__pycache__/


#Logs
GreenGrocer/logs/

#Database
GreenGrocer/db.sqlite3

#Docker
GreenGrocer/.dockerignore

#Docker Compose
GreenGrocer/docker-compose.yml

#Docker Compose
GreenGrocer/docker-compose.override.yml

#Docker Compose
GreenGrocer/docker-compose.prod.yml

#Docker Compose
GreenGrocer/docker-compose.dev.yml

#Docker Compose
GreenGrocer/docker-compose.test.yml

#Docker Compose
GreenGrocer/docker-compose.staging.yml

#Docker Compose